body {
  background-color: #ffd230;
}
.page {
  width: 80%;
  max-width: 960px;
  margin: 50px auto;
  text-align: center;
  background-color: #ffd230;
  border-radius: 5px;
}

h1{
  font:80px'Bungee Shade',cursive, Helvetica, Arial, sans-serif;
  color: #5d5491;
  margin: 0px;
  padding: 0px;
  text-transform: uppercase;
}

h2{
  font: 20px'Bungee',cursive;
  color:#5d5491;
}
h2 #clock{
  font-size: 30px;
}


#dog_img{
  width:300px;
  height:300px;
}

.time_grid_containers{
  display: grid;
  grid-template-columns: 1fr 1fr; 
}

.time_grid_item{
  padding: 10px;
}

.timer_circle{
  border-radius:50%;
  background-color: #5d5491;
  width:300px;
  height:300px;
  font: 30px'Bungee';
  margin:20px auto;
  color:#ffd230;
  align-items:center;
  display:flex;
  justify-content: center;
}

blockquote{
  font: 20px 'Open Sans', sans-serif;
  -webkit-text-stroke: 1px black;
  text-shadow: 2px 2px #000;
  margin: -40px 0 100px 0;
  color: #fff;
}

.control_buttons button{
  background-color: #5d5491;
  color:#fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.control_buttons button:hover{
  background-color: #fff9c7;
  color:#F6D110;
  transition: background-color 0.3s;
}