body {
  background-color: #ffd230;
}
.page {
  width: 80%;
  max-width: 960px;
  margin: 50px auto;
  text-align: center;
  background-color: #ffd230;
  border-radius: 5px;
}

h1 #clock{
  font:80px'Bungee', Helvetica, Arial, sans-serif;
  color:#5d5491;
  padding: 10px;
  margin: 20px auto;
}

#dog_img{
  width:300px;
  height:300px;
}

.time_grid_containers{
  display: grid;
  grid-template-columns: 1fr 1fr; 
}

.time_grid_item{
  padding: 10px;
}

.timer_circle{
  border-radius:50%;
  background-color: #5d5491;
  width:300px;
  height:300px;
  font: 50px'Bungee';
  margin: auto;
  color:#ffd230;
  align-items:center;
  display:flex;
  justify-content: center;
}

blockquote{
  font: 20px 'Bungee', sans-serif;
  -webkit-text-stroke: 0.5px black;
  text-shadow: 1px 2px #000;
  margin: -15% 0 0 0;
  color: #ffff;
}

.control_buttons button{
  background-color: #5d5491;
  color:#fff;
  border: none;
  padding: 10px 30px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  margin:10% auto;
}

.time_dtr_button button{
  background-color: #5d5491;
  color:#fff;
  border: none;
  padding: 10px 30px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  margin:2% auto;
}

button:hover{
  background-color: #fff9c7;
  color:#F6D110;
  transition: background-color 0.3s;
}

span{
  font-size: 25px;
}